.img2{
    display: none;
}

div.sconto {
    background-color: #02b49c;
    text-align: center;
    width: 100%;
    font-family: BS_body_font;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: BS_body_font;
    src: url(../font/Garet-Book.otf);
}

div.thumb_hide { display: none; visibility: hidden; position: absolute; }
div.thumb_show { visibility: visible; }

.visibile{visibility: visible;}
.nascosta{display: none; visibility: hidden; position: absolute;}

button#thumb_img_left:hover{
    background: #02b49c;
}

button#thumb_img_right:hover{
    background: #02b49c;
}

div.flex-shoes {
    margin: auto;
}

div.flex-shoes2{
    display: none;
}

.vedi_scarpe{
    height: 35px;
    border-radius: 5px;
    border-color: black;
    color: black;
    background-color: white;
}

.vedi_scarpe:hover{
    background: #02b49c;
}