body {
    background-color: white;
}

div.sconto {
    background-color: #02b49c;
    text-align: center;
    width: 100%;
    font-family: BS_body_font;
    color: rgb(255, 255, 255);
}

div.percorso {
    /* div del percorso di navigazione */
    background-color: white;
    margin-left: 3%;

}


div.percorso li {
    font-family: BS_body_font;
}

div.products {
    /* div che contiene le card dei prodotti */
    background-color: white;
}

div.products_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}

div.card{
    margin-bottom: 7%;
}

@font-face {
    font-family: BS_body_font;
    src: url(../font/Garet-Book.otf);
}

@font-face {
    font-family: BS_title_font;
    src: url(../font/Streetbomber.ttf);
}

p.font {
    font-family: BS_body_font;
}

input.font {
    font-family: BS_body_font;
}

a.copyright {
    font-family: BS_body_font;
}

div.copyright {
    font-family: BS_body_font;
}

div.img-container {
    height: 380px;
}


