body{
    background-image: url("../immagini/addtocart_tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
}

div.addtocart {
    background: #ffffffba; 
    display: block; 
    margin-top: 10%;
    margin: auto; 
    width: 450px; 
    text-align: center; 
    border-radius: 3%; 
    height: 300px; 
    margin-top: 50px; 
    font-family: BS_body_font;
    font-size: 15px;
}

@font-face {
    font-family: BS_body_font;
    src: url(../font/Garet-Book.otf);
}